[Unit]
Description = Update Checker HomeField 2026
Requires    = network-online.target
Wants       = network-online.target

[Service]
User             = root
WorkingDirectory = /opt/Home-Field-2026/
ExecStartPre=/bin/sh -c 'until ip addr show wlan0 | grep -q "inet "; do sleep 1; done'
ExecStart        = /usr/bin/git pull

[Install]
WantedBy    = HomeField26.target
