[Unit]
Description = Hublight Manager for HomeField 2026
After       = network-online.target
Wants       = network-online.target

[Service]
User             = root
WorkingDirectory = /opt/Home-Field-2026/
ExecStart        = /usr/bin/python3 /opt/Home-Field-2026/hub-lights.py
Restart          = on-failure
RestartSec       = 5

[Install]
WantedBy = HomeField26.target